*,
*::before,
*::after
{
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

.main-wrapper
{
  display               : grid;
  gap                   : 1rem;
  grid-template-columns : repeat(5, 1fr);
  grid-template-rows    : auto;
  min-height            : 100vh;
  min-width             : 100vw;
  padding               : 3rem;
}

@media screen and (min-width : 1024px)
{
  .main-wrapper
  {
    grid-template-columns : repeat(10, 1fr);
  }
}

.icon-section
{
  align-items     : center;
  display         : flex;
  flex-flow       : column nowrap;
  gap             : 0.5rem;
  justify-content : flex-start;
  width           : 100%;
}